<diV class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
      <h2>Choose your community </h2>

      <%= form_tag wizard_path, method: :put do |f| %>

        <div class="checkbox">
          <% Community.all.each do |community| %>
            <label>
              <%= check_box_tag "communities[#{community.id}]", 1 %>
              <%= community.name %>
              <%= image_tag community.image_url, width: "50px" %>
            </label>
          <% end %>
        </div>

        <hr>

        <%= button_tag( :class => "btn btn-default") do %>
          <i class="icon-user" />Subscribe to those communities
        <% end %>

      <% end %>

    </div>
  </div>
</diV>



