
<div class = "text-center">
  <%= form_for([@community, @article]) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title,  :placeholder => @article.title %>
    <%= f.label :content %>
    <%= f.text_area :content,:placeholder => @article.content, class: 'js-st-instance' %>
    <%= f.submit %>
  <% end %>
  <%= link_to 'Post my article', publish_article_path(@article), method: :post unless @article.id.nil? %>
  <%= link_to 'Back to my profil', user_path(current_user) %>
</div>

<script>
  $(function() {
    SirTrevor.setDefaults({
      blockTypes: ["Text", "Image", "Video"],
      uploadUrl: "/images"
    });
    new SirTrevor.Editor({ el: $('.js-st-instance') });
  });
</script>





