<div class="text-center">
  <div class="col-xs-2">
    <%= link_to 'back to my profil', user_path(current_user), class: "btn btn-default" %>
  </div>
<div class="col-xs-8">
  <div class = "text-center">
    <%= form_for([@community, @article]) do |f| %>
      <br>Here write a nice <%= f.label :title %></br>
      <%= f.text_field :title,  :placeholder => @article.title %>
      <br>Here begin to write your best <%= f.label :content %></br>
      <%= f.text_area :content,:placeholder => @article.content, class: 'js-st-instance' %>
      <%= f.submit %>
    <% end %>
    <%= link_to 'Post my article', publish_article_path(@article), method: :post unless @article.id.nil? %>

  </div>
</div>
<div class="col-xs-2">
  </div>
</div>

<script>
  $(function() {
    SirTrevor.setDefaults({
      blockTypes: ["Text", "Image", "Video"],
      uploadUrl: "/images"
    });
    new SirTrevor.Editor({ el: $('.js-st-instance') });
  });
</script>





