<div class="background">
<div class="container">
  <div class="row">
    <div class="col-xs-3 profil">
      <h2 class="text-center">Profil</h2>
      <div class="text-center">
        <div class="picture">
      <%= image_tag current_user.picture, :class => "picture"%>
        </div>
      <%= current_user.name%>
      <%= link_to 'Edit Communities', memberships_path, class: "btn btn-info"%>
      </div>
      <p>Communities followed :</p>

      <% current_user.communities.each do |community| %>
        <p> <%=community.name%> <%= image_tag community.image_url, width: "50px" %> </p>
        <% if current_user.id == community.user_id %>
          <% article = current_user.article_for community %>

          <% if article %>
            <%= link_to 'Edit post', edit_community_article_path(community, article) unless article.published? %>
          <% else %>
            <%= link_to 'New post', new_community_article_path(community) %>
          <% end %>

          <%= link_to 'Post my article', publish_article_path(article), method: :post if article %>
          <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: "btn btn-info" %>
        <% end %>
      <%end%>
    </div>

    <div class="col-xs-9">
      <% @communities.each do |community| %>

        <% community.articles.published.each do |article| %>
          <div class="well white">
            <%= image_tag article.user.picture, :class => "picture" %>
            <p>By <%= article.user.name %>
            in <%= community.name %><%= image_tag community.image_url, width: "50px" %>
            <h2><%= article.title %></h2>
            </p>
              <%= excerpt(strip_tags(article.content_html), "", radius: 60) %>
            </p>
            <%= link_to "Read more", article_path(article), class: "btn btn-info" %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
</div>




