<div id="sidebar">

<h1>Mon profil</h1>
<%= image_tag current_user.picture %>
<%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
<%= link_to 'Edit my profil', after_sign_up_path(:add_communities)  %>
<p>Communities followed</p>

<% current_user.communities.each do |community| %>
  <p> <%=community.name%> </p>
  <% if current_user.id == community.user_id %>
    <%= link_to 'Edit post', new_community_article_path(community) %>
    <%= link_to 'Post my artcile'%>
  <% end %>
<%end%>

<p>Invite friends</p>
</div>

<% Community.all.each do |community| %>
  <% if community.winner && !community.winner.articles.empty? %>
    <%= article = community.winner.articles.last %>
    <%= article.title %>
    <%= article.content %>

  <% end %>
<% end %>


