<div class="container">
  <div class="row">
    <div class="col-xs-3 profil" data-spy="affix" data-offset-top="" data-offset-bottom="200">
      <h2 class="text-center">Profil</h2>
      <div class="text-center">
      <%= image_tag @user.picture, :class => "picture"%>
      <%= @user.name%>
      <div class="verticalspacer"></div>
      <%= link_to 'Edit Communities', memberships_path, class: "btn btn-default"%>
      </div>
      <div class="verticalspacer"></div>
      <p>Communities followed :</p>

      <% @user.communities.each do |community| %>
        <p> <%=community.name%> <%= image_tag community.image_url, width: "50px" %> </p>
        <% if @user.id == community.user_id %>
          <% article = @user.article_for community %>

          <% if article %>
            <%= link_to 'Edit post', edit_community_article_path(community, article) unless article.published? %>
          <% else %>
            <%= link_to 'New post', new_community_article_path(community), class: "btn btn-default" %>
          <% end %>

          <%= link_to 'Post my article', publish_article_path(article), method: :post if article %>

        <% end %>
        <div class="verticalspacer"></div>
      <%end%>
      <div class="text-center">
      <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: "btn btn-default" %>
      </div>
    </div>

    <div class="col-xs-9 articles">
      <% @articles.each do |article| %>
        <div class="well white">
          <%= social_share_button_tag(article.title) %>
           <p><%= image_tag article.user.picture, :class => "picture" %>
         By <%= article.user.name %>
          in <%= article.community.name %><%= image_tag article.community.image_url, width: "50px" %>
          <h2><%= article.title %></h2>
          </p>
            <%= excerpt(strip_tags(article.content_html), "", radius: 60) %>
          </p>
          <%= link_to "Read more", article_path(article), class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>





