<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h1>Profil</h1>
      <%= image_tag current_user.picture %>
      <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
      <%= link_to 'Communities', memberships_path %>
      <p>Communities followed</p>

      <% current_user.communities.each do |community| %>
        <p> <%=community.name%> <%= image_tag community.image_url, width: "50px" %> </p>
        <% if current_user.id == community.user_id %>
          <%= link_to 'Edit post', new_community_article_path(community) %>
        <% end %>
      <%end%>
      <p>blabla</p>
    </div>

    <div class="col-xs-8">
      <% @communities.each do |community| %>

        <% community.articles.published.each do |article| %>
          <div class="well">
            <%= image_tag article.user.picture %>
            <h2><%= article.title %></h2>
            <p>
              <%= excerpt(strip_tags(article.content), "", radius: 60) %>
            </p>
            <%= link_to "Read more", article_path(article) %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>




